@model hkkf.Models.User
@{
    ViewBag.Title = "FenPeiDetails";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}
<div>
    <span style="font-weight: bolder;font-size: 30px;"><span style="color:blueviolet;font-size: 26px">@ViewBag.Name</span> 所拥有的店铺：</span> <span style="color:blue;font-size: 26px;">@ViewBag.TypeList</span>
</div>

