<div id="navigator">
    <div class="navigator-left"></div>
    <div class="navigator-middle">
        @ViewData[NavigationRootAttribute.ViewDataKey]  >>  @ViewData[NavigationItemAttribute.ViewDataKey]
    </div>
    <div class="navigator-right"></div>
</div>
