<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

</head>
    <body>
      @*  @{Html.EnableClientValidation();}*@
        <div>
            @RenderBody()
        </div>
    </body>
</html>
