@model hkkf.Models.kfGrade
@{
    ViewBag.Title = "Testend";
    Layout = "~/Areas/Service/Views/Shared/_ServiceSite.cshtml";
}

<div align="center" style="margin:auto">
     您的合格率是：@ViewBag.grade
</div>

